---
import Main from "../layouts/Main.astro";

---

<Main></Main>
<div class="container vertical-line">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2023 - Current</span>
          <div class="timeline-content">
            <h4 class="subtitle">Security Engineer</h4>
            <p class="description">Mix of dev, infrastructure and security.</p>
          </div>
        </div>

        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2018-2022</span>
          <div class="timeline-content">
            <h3 class="title">Bachelor's Degree in Computer Information Systems, Minor in CS</h3>
            <h4 class="subtitle">California State University, Chico.</h4>
          </div>
        </div>

        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2022</span>
          <div class="timeline-content">
            <h3 class="title">Internship</h3>
            <h4 class="subtitle">Amazon</h4>
            <p class="description">Worked as a security engineering intern, developing new cloud and host based detections for the main Amazon network (Amazon.com).</p>
          </div>
        </div>

        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2021</span>
          <div class="timeline-content">
            <h3 class="title">Internship</h3>
            <h4 class="subtitle">Nutanix</h4>
            <p class="description">Worked as a Systems Reliability Engineer, where I was responsible for engaging with end user engineers and trouble shooting L2/L3 networking issues, storage issues and general Linux issues.</p>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
