---
import Main from "../layouts/Main.astro";
---

<Main></Main>
<div class="container homePage text-center">
  <h2>Hi, I'm Cody</h2>
  <h4>I'm a security enthusiast who's passionate about staying up to date with the latest cybersecurity threats and solutions. This website is my corner of the internet where I showcase my projects and hobbies, from web development to pen testing.</h4>
  <br>
  <h5>Get in touch:</h5>
  <ul>
    <li><a href="mailto:cody@rootloopz.com">Email</a></li>
    <li><a href="https://www.linkedin.com/in/willard-cody/">LinkedIn</a></li>
    <li><a href="https://github.com/rootloopz">GitHub</a></li>
  </ul>
  <br>
</div>
