---
import Main from "../layouts/Main.astro"
---

<Main></Main>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="project">
        <a href="https://github.com/rootloopz/totalresume" target="_blank"><img src="/totalresumecombined.png" alt="TotalResume Project" width="300" height="350"></a>
        <h5 class="project-title">Resume Generator</h5>
        <p class="project-description"> Currently only basic PDF resume generation based on form input, goal of project was to allow you to create one large resume and easily talor it to each job you apply to by selecting only the relivant jobs, skills, and experience. </p>
        <h6><em>Python/Django, JavaScript, GitHub Actions</em></h6>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project">
        <a href="https://github.com/rootloopz" target="_blank"></a>
        <h5 class="project-title">Project 2 incoming</h5>
        <p class="project-description">Description of Project 2 goes here.</p>
      </div>
    </div>
  </div>
</div>
